:host {

}

#drawer {
  background: rgb(163, 163, 163);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

paper-toolbar {
  background-color: rgb(129, 191, 29)
}
