:host {
  display: inline-block;
  background-color: #eaddeb;
  border: 1px solid #ccc;
  margin: 10px;
  font-family: sans-serif;
  padding: 10px;
  box-sizing: border-box;
}

h3 {
  color: rgb(235, 148, 33);
  margin: 0;
}
